.git
node_modules
packages/cli/node_modules
packages/web/node_modules
packages/worker/node_modules
packages/web/.next
packages/web/.open-next
packages/web/data
*.db
.DS_Store
npm-debug.log
pnpm-debug.log
